@media (max-width: 1200px) {
  main {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 99;
  }
  .body {
    position: relative;
    z-index: 60;
  }
  header,
  footer {
    padding: 0 50px;
  }
  header nav > ul {
    gap: 30px;
  }
  header nav > ul li a {
    font-size: 16px;
  }
  header img {
    max-width: 80%;
  }
  .faq {
    width: 100%;
  }
  .faq .right,
  .faq.left {
    width: 100%;
  }
  .right .accordion {
    width: 100%;
  }
  .accordion .acc-header {
    width: 70%;
  }
  .accordion .acc-body {
    width: 70%;
  }
  .accordion .acc-header::after {
    right: -12rem;
  }

  .slider-container-wrapper {
    padding: 25px;
  }

  .cards-container > .card-2 {
    /* width: calc(100% / 2); */
    padding: 0;
  }

  footer > .container {
    width: 100%;
    padding: 0px 30px;
    align-items: center;
    justify-content: start;
  }
  .footer-fourth,
  .footer-first {
    width: 100%;
  }

  .map iframe {
    height: 280px;
  }
  footer {
    width: 100%;
    padding: 0px 30px;
  }
}

@media (max-width: 768px) {
  header {
    width: 100%;
    padding: 0 40px;
    z-index: 99;
  }
  header nav > ul {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    background-color: var(--white-headings-and-texts);
    text-align: start;
    width: 80%;
    top: -100%;
    transition: 1s;
    z-index: -1;
    margin-top: 87px;
    padding: 20px 10px;
    left: 10%;
  }
  header nav > ul.active {
    top: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .section-one-child {
    padding: 20px 0 0 40px;
    text-align: start;
    width: 80%;
  }
  .section-one-child h1 {
    font-size: 50px;
    font-weight: 900;
    margin-top: 75px;
  }
  .section-one-child p {
    margin-top: -1px;
  }
  .section-one-child button {
    margin-top: 50px;
    z-index: -1;
  }
  .section-two {
    width: 100%;
  }
  .section-two h2,
  .section-two p {
    width: 400px;
    margin: 15px auto 0;
  }
  .section-two > .flexed-icons {
    flex-direction: column;
  }
  .faq {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .faq.left {
    width: 100%;
  }

  iframe {
    max-width: 650px;
  }

  .faq.right {
    width: auto;
  }
  .accordion .acc-header::after {
    right: -10rem;
  }
  .cards-container {
    padding: 10;
  }
  #form,
  .form-section {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .first-Input,
  .options {
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px auto;
  }
  #email,
  #name,
  #date,
  #selecting-field {
    width: 100%;
    height: 40px;
    margin: 20px auto;
  }
  #message,
  #subject {
    width: 80%;
    margin: 0px auto;
  }
  #subject {
    height: 40px;
  }
  #message {
    margin-top: 30px;
  }
  form #submit {
    margin-bottom: 20px;
  }

  .footer-third,
  .footer-second {
    margin-top: -5px 0px 0px 0px;
  }
  .footer-second {
    gap: 0px;
  }
  footer > .container {
    padding: 20px;
  }

  hr {
    text-align: center;
    width: 90%;
  }
  footer {
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .section-one-child h1 {
    font-size: 30px;
  }
  .section-one-child p {
    font-size: 18px;
  }
  .section-one-child button {
    margin-top: 9rem;
  }
  .section-two h2,
  .section-two p {
    width: 300px;
  }
  .former p {
    width: 300px;
  }
  .faq {
    width: 100%;
    align-items: center;
  }

  .right {
    width: 90%;

    padding: 0 0 20px 30px;
    margin: 0 auto;
  }
  .right h2 {
    font-size: 40px;
  }
  .accordion .acc-header::after {
    right: -7rem;
  }
  footer > .container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .footer-second {
    margin-top: -15px;
  }
}

@media (max-width: 525px) {
  .accordion .acc-header::after {
    right: -6rem;
  }
  footer {
    width: 100%;
    padding: 0px 20px;
  }
}

@media (max-width: 450px) {
  .right {
    padding: 0 20px;
  }
  .right h2 {
    font-size: 30px;
  }
  .left {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
  .accordion {
    width: 100%;
    margin-left: -20px;
  }
  .accordion .acc-header {
    width: 100%;
    padding: 0 10px;
  }
  .accordion .acc-header h6 {
    font-size: 15px;
  }
  .accordion .acc-body {
    width: 100%;
  }
  .accordion .acc-header::after {
    right: -1rem;
  }
  .footer-second {
    margin-top: -5px;
  }
}
