@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --nav-menu-default-color: rgb(57, 82, 90);
  --nav-menu-hover-color: rgb(0, 173, 181);
  --white-headings-and-texts: rgb(255, 255, 255);
  --black-headings: rgb(57, 62, 70);
  --faint-black-texts: rgb(140, 150, 167);
}

body a {
  text-decoration: none;
}
/* ================================================= */
/* =================HEADER-STYLINGS================== */
/* ================================================= */

header {
  width: 100%;
  height: 87px;
  position: fixed;
  background-color: var(--white-headings-and-texts);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid black; */
  /* margin-top: -18px; */
  padding: 0 108px;
  z-index: 55;
}
#header-img {
  vertical-align: middle;
  padding: 0px;
}
header img {
  /* max-width: 100%; */
  width: 100%;
}

header nav > ul {
  width: 33.125%;
  list-style: outside none none;
  display: flex;
  gap: 41px;
}
.nav-lists > .nav-link {
  transition: 0.7s ease-in;
}
header nav > ul li a {
  color: var(--nav-menu-default-color);
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  position: relative;
}
.nav-lists li a:hover {
  color: var(--nav-menu-hover-color);
  transition: all 0.3s ease-out 0s;
}
.bi-x-lg,
.bi-list {
  width: 32px;
  height: 32px;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}
/* ================================================= */
/* =================SECTION One================== */
/* ================================================= */
/* <!-- FIRST SECTION-STYLINGS--> */
.section-one {
  width: 100%;
  /* height: 850px; */
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.first-container {
  width: 400%;
  height: 100%;
  position: relative;
  transition: transform 250ms ease-in;
  display: flex;

  /* scroll-snap-type:  mandatory;
    scroll-behavior: smooth; */
}
.first-container > .slider {
  width: 25%;
  transition: 1s;
}

.links {
  position: sticky;
  z-index: 2;
  text-align: center;
  bottom: 40px;
}
.links button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 1998px;
  border-color: var(--white-headings-and-texts);
  opacity: 0.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid #000;
  margin: 0 5px;
}
.links button:hover,
.links button:active {
  box-shadow: var(--white-headings-and-texts) 0px 10px 25px;
  background-color: var(--white-headings-and-texts);
  transform: scale(1.2);
  /* border: none; */
}
/* .section-one .slider {
    scroll-snap-align: start;
} */
.section-one > .section_container > .section-child-one-container-1,
.section-one > .section_container > .section-child-one-container-2,
.section-one > .section_container > .section-child-one-container-3 {
  /* width: 100%; */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.section-one > .section_container > .section-child-one-container-1 {
  background-image: linear-gradient(
      to right,
      #00adb5 0%,
      rgba(0, 173, 181, 0.11) 70.76%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../img/slider/slider-2.jpg);
  height: 100%;
}
.section-one > .section_container > .section-child-one-container-2 {
  background-image: linear-gradient(
      to right,
      #00adb5 0%,
      rgba(0, 173, 181, 0.11) 70.76%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../img/slider/slider-1.jpg);
  height: 100%;
}
.section-one > .section_container > .section-child-one-container-3 {
  background-image: linear-gradient(
      to right,
      #00adb5 0%,
      rgba(0, 173, 181, 0.11) 70.76%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../img/slider/slider-3.jpg);
  height: 100%;
}
.section-one-child {
  width: 100%;
  padding-left: 108px;
  padding-top: 250px;
  padding-bottom: 263px;
}
.section-one-child > h1 {
  transition: all 0.3s ease 0s;
  max-width: 720px;
  white-space: wrap;
  height: 152px;
  transition-duration: 0.3s;
  font-weight: 900;
  font-size: 65px;
  padding: 0px 0px 20px;
  color: var(--white-headings-and-texts);
  font-family: "Raleway", sans-serif;
}
.section-one-child > p {
  max-width: 654px;
  height: 84px;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  white-space: wrap;
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
  color: var(--white-headings-and-texts);
}
.section-one-child > button a {
  color: var(--nav-menu-hover-color);
  font-size: 18px;
  font-weight: 600;
}
.section-one-child > button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--white-headings-and-texts);
  border: 0px none var(--white-headings-and-texts);
  padding: 17px 20px;
  border-radius: 10px;
  margin-top: 30px;
  /* z-index: 3; */
  /* margin-bottom: 263; */
  /* background : rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;  */
}
.links button {
  margin: 0 auto;
}
.section-one-child button:hover {
  box-shadow: var(--white-headings-and-texts) 0px 10px 25px;
  border-color: transparent;
  transition: all 0.3s ease-out 0s;
}
/* CAROUSEL STYLING */
.section_container input {
  display: none;
}
.navigation-auto,
.navigation-manual {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 30px;
  justify-content: center;
  cursor: pointer;
  top: 90%;
}
.navigation-manual {
  z-index: 99;
}
.navigation-auto div,
.manual-btn {
  padding: 5px;
  border-radius: 210298px;
  transition: 1s;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.navigation-auto div {
  border: 2px solid var(--white-headings-and-texts);
}

/*css for manual slide navigation*/

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: var(--white-headings-and-texts);
}

#radio1:checked ~ .firstSl {
  margin-left: 0;
}

#radio2:checked ~ .firstSl {
  margin-left: -25%;
}

#radio3:checked ~ .firstSl {
  margin-left: -50%;
}

/* End */
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: var(--white-headings-and-texts);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: var(--white-headings-and-texts);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: var(--white-headings-and-texts);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: var(--white-headings-and-texts);
}

/* ================================================= */
/* =================SECTION TWO================== */
/* ================================================= */
/* ABOUT-STYLINGS */
.section-two {
  width: 100%;
  overflow: hidden;
  background-image: url(../img/shapes/shape-1.svg);
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 0;
}

.section-two h3 {
  margin-top: 150px;
  /* animation-name : fadeInDown;  */
  font-family: Raleway, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: var(--nav-menu-hover-color);
  margin-bottom: 15px;
}
.section-two h2 {
  margin-top: 35px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 54px;
  font-size: 45px;
  /* animation-name : fadeInUp;  */
  color: var(--black-headings);
  font-family: Raleway, sans-serif;
}
.section-two p {
  width: 600px;
  margin: 40px auto 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--faint-black-texts);
}
.graph-img {
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
}
.graph-img img {
  max-width: 100%;
}
.section-two > .flexed-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 0 80px;
  margin-top: 115px;
}
.icon-container {
  width: 267px;
  height: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-two > .flexed-icons .icon {
  width: 87px;
  height: 87px;
  padding: 20px;
  /* line-height : 83px;  */
  border-radius: 1998px;
  box-shadow: rgba(0, 173, 181, 0.15) 0px 0px 25px 0px;
}
.icon-container h4 {
  margin-top: 30px;
  white-space: nowrap;
  font-weight: 600;
  line-height: 24px;
  font-size: 20px;
  color: var(--black-headings);
  font-family: "Raleway", sans-serif;

  /* text-align: center; */
}
.section-two .abt {
  margin-top: 215px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: var(--nav-menu-hover-color);
}
.section-two .abt-sub {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 54px;
  font-size: 45px;
  /* animation-name : fadeInUp;  */
  color: var(--nav-menu-default-color);
  font-family: "Raleway", sans-serif;
}
.section-two .abt-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--faint-black-texts);
  font-family: "Open Sans", sans-serif;
}
.section-two > .about-button button {
  text-align: center;
  vertical-align: middle;
  margin-top: 40px;
  cursor: pointer;
  user-select: none;
  background-color: var(--nav-menu-hover-color);
  padding: 15px 40px;
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
  border: none var(--nav-menu-hover-color);
}
.section-two > .about-button button:hover {
  box-shadow: var(--nav-menu-hover-color) 0px 10px 25px 0px;
}
.section-two > .about-button a {
  color: var(--white-headings-and-texts);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  white-space: nowrap;
}
.section-two > .about-team-image {
  width: 100%;
  margin-top: 140px;
  padding: 0;
}
.section-two > .about-team-image img {
  max-width: 100%;
}
/*================================================= */
/* =================SECTION THREE================== */
/* ================================================= */
.section-three {
  width: 100%;
  height: auto;

  /* margin-top: 150px; */
}
.section-three > .former {
  width: 100%;
  padding-top: 150px;
  text-align: center;
}
.section-three > .former > h3 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: var(--nav-menu-hover-color);
}
.former h2 {
  /* margin-top: 35px; */
  font-weight: 600;
  line-height: 54px;
  font-size: 45px;
  color: var(--black-headings);
  font-family: "Raleway", sans-serif;
}
.former p {
  width: 650px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--faint-black-texts);
  margin: 38px auto 0;
  font-family: "Open sans";
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}
.card {
  /* width: 360px;
    height:340; */
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 332px;
  height: 365.156px;
  border-radius: 20px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 1s ease-out 0s;
}
.card:hover {
  /* color: var(--white-headings-and-texts); */
  background-image: linear-gradient(
      to right,
      #00adb5 0%,
      rgba(0, 173, 181, 0.11) 70.76%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../img/service/service-1.png);
}

.card h4 {
  margin-top: 30px;
  font-weight: 600;
  line-height: 30px;
  font-size: 25px;
  color: var(--black-headings);
  font-family: "Raleway", sans-serif;
}
.card h4:hover,
.card p:hover {
  color: var(--white-headings-and-texts);
}
.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--faint-black-texts);
  margin-top: 30px;
}
.card > .card-link {
  margin-top: 30px;
}
.card > .card-link a {
  color: var(--nav-menu-hover-color);
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.card > .card-link svg {
  width: 32px;
  /* color: var(--nav-menu-hover-color); */
  color: var(--white-headings-and-texts);

  -webkit-font-smoothing: antialiased;
  transition: all 0.3s ease-out 0s;
}
.card > .card-link a:hover {
  transform: translateX(1.3);
}

.card:hover > *,
.card:hover a,
.card:hover > .card-icon > svg > g {
  color: var(--white-headings-and-texts);
}
.card:hover > .card-icon > svg > #Group_152 {
  fill: var(--white-headings-and-texts);
}

/* FAQ SECTION */
.faq {
  width: 100%;
  height: auto;
  display: flex;
  background-color: var(--nav-menu-hover-color);
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
  /* padding-bottom: 20px; */
}
.left {
  width: 50%;
  /* height: 650px; */
  height: 800px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.faq .left > img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 2;
}
.videoDiv {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* transform: translate(50%, -50%); */
  z-index: 3;
}
#playIcon,
.pBox {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  left: 38%;
  /* right: 50%; */
  width: 70px;
  height: 70px;
  border-radius: 2000px;
  background-color: var(--nav-menu-hover-color);
  padding-top: 5px;
}
#playIcon {
  z-index: 3;
}
.bi-play {
  margin: 18px 0 auto;
  width: 35px;
  height: 30px;
  color: var(--white-headings-and-texts);
  font-weight: 100;
}
.leftVideo {
  left: 0;
}

main {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: 70;
  overflow: hidden;
  scroll-behavior: unset;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  /* display: none; */
}
.playVideo {
  clip-path: circle(75%);
}
.videoOverLay {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 70;
  background-color: rgb(59, 58, 56);
}
.videoIframeDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 10% 10%;
  z-index: 99;
  cursor: pointer;
}
#videoIframe {
  width: 70%;
  height: 70%;
}
.zindex {
  position: relative;
  z-index: 99;
}
#videoI .bi-x-lg {
  position: absolute;
  left: 90%;
  top: 5%;
}
/* Play Animation styles */

.pBox {
  background-color: rgba(0, 173, 181, 0.13);
  margin: 0 auto;
  animation-name: fisrtLayer;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  border-radius: 50%;
}
.pbox {
  position: absolute;
  width: 65%;
  height: 65%;
  top: 18%;
  left: 18%;
  background-color: rgba(0, 173, 181, 0.16);
  animation-name: firstLayer;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  border-radius: 50%;
}

@keyframes fisrtLayer {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}

.right {
  width: 50%;
  /* padding-bottom: 20px; */
  padding: 0 20px 50px;
  background-image: url(../img/shapes/shape-8.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.right h4 {
  font-family: "Raleway", sans-serif;
  color: var(--white-headings-and-texts);
  font-size: 25px;
  font-weight: 600;
  margin-top: 100px;
}
.right h2 {
  margin-top: 35px;
  font-weight: 600;
  line-height: 54px;
  font-size: 45px;
  color: var(--white-headings-and-texts);
  font-family: "Raleway", sans-serif;
}
.right .accordion {
  background-color: var(--nav-menu-hover-color);
  border-radius: 10px;
  width: 90%;
  margin-top: 20px;
  padding: 20px;
  color: var(--white-headings-and-texts);
  font-family: "Raleway", sans-serif;
}
.accordion h6 {
  font-style: italic;
  font-size: 20px;
  /* padding-top: 20px; */
}

.accordion .acc-header::after {
  content: "\002b";
  /* content: "\25BE"; */
  position: absolute;
  right: 1rem;
  font-size: 40px;
  line-height: 30px;
  cursor: pointer;
  font-weight: 400;
  vertical-align: middle;
  white-space: normal;
}
.accordion .acc-header.active::after {
  content: "\2212";
  /* transform: rotate(180deg);
    transform: rotate(45deg); */
}
.accordion .acc-header {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.accordion .acc-body {
  width: 90%;
  margin-top: 20px;
  display: none;

  /* border-top: 1.5rem; */
  /* border-image: linear-gradient(to right transparent, #cea135 , transparent) 1; */
}

.accordion .acc-header.active + .acc-body {
  display: block;
}
/* ================================================= */
/* =================FOUR SECTION================== */
/* ================================================= */

.section-four {
  width: 100%;
  height: 100%;
  padding: 0 108px;

  /* height: 1000px; */
  /* overflow: hidden; */
}
.section-four-top {
  width: 100%;
  text-align: center;
  height: 178px;
  background-image: url(../img/shapes/shape-2.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 160px;
  padding-bottom: 100px;
}

.section-four-top h4,
.form-section h4 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: var(--nav-menu-hover-color);
  margin-bottom: 15px;
}
.section-four-top h2,
.form-section h2 {
  font-weight: 600;
  line-height: 54px;
  font-size: 45px;
  color: var(--black-headings);
  font-family: "Raleway", sans-serif;
  margin-top: 35px;
}
.section-four-top p,
.form-section p {
  font-family: "Raleway", sans-serif;
  max-width: 600px;
  margin: 35px auto 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--faint-black-texts);
}
.section_four_container {
  width: 100%;
}
.section-four-bottom {
  width: 100%;
  height: 650px;
  /* height: auto; */
  position: relative;
  transition: transform 250ms ease-in;
  background-image: url(../img/shapes/shape-5.svg);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 260px;
  /* border: 2px solid black; */
}
.slider-container {
  max-width: 1300px;
  width: 100%;
  padding: 50px 20px;
  /* border: 2px solid black; */
}
.slide-content {
  /* height: 70%; */
  margin: 0 40px;
  overflow: hidden;
  padding-bottom: 50px;
}

/* 

/* border: 2px solid var(--faint-black-texts); */
/* } */

.cards-wrapper > .card-2 {
  position: relative;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 20px;
}
.cards-wrapper > .card-2:hover {
  border: 2px solid var(--nav-menu-hover-color);
}

.card-2-img {
  width: 90%;
  margin: 0px auto 0px;
}
.card-2-img img {
  width: 100%;
}

.cards-wrapper > .card-2 > .mini-img {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 44%;
  bottom: 24%;
  line-height: 37px;
  z-index: 2;
  text-align: center;
  border-radius: 50%;
  background-color: var(--nav-menu-hover-color);
  border: 3px solid var(--white-headings-and-texts);
  /* border: 3px solid #000; */
}
.card-2 > .mini-img svg {
  padding-top: 3px;
}
.card-2 > h4 {
  margin-top: 45px;
}
.card-2 h4 a {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  color: var(--black-headings);
}
.card-2 h4 a:hover {
  color: var(--nav-menu-hover-color);
  transition: all 0.3s ease-out;
}
.card-2 P {
  color: var(--faint-black-texts);
  font-size: 14px;
  margin-top: 10px;
}
.section-four > .section_four_links {
  position: relative;
  text-align: center;
  height: 30px;
  width: 100%;
  background-color: var(--white-headings-and-texts);
}
.section-four > .section_four_links > button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 1998px;
  border-color: var(--white-headings-and-texts);
  opacity: 1;
  text-align: center;
  background-color: var(--white-headings-and-texts);
  border: 1px solid #000;
  margin: 0 5px;
}
.section_four_links button:hover,
.section_four_links button:active {
  box-shadow: var(--black-headings) 0px 10px 25px;
  background-color: var(--white-headings-and-texts);
  transform: scale(1.2);
}
.doubletBtn {
  width: 100%;
  text-align: center;
  margin-top: 0 auto;
  display: none;
}

.swiper-pagination-bullet {
  background-color: var(--white-headings-and-texts);
  color: #000;
  border: 2px solid#000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* color: var(--white-headings-and-texts); */
}
.opa {
  opacity: 0;
  transform: translateY(5rem);
}
.trans {
  transition: all 1s ease-out;
  transform: translateY(-5rem);
}

/* FORM-SECTION */

.form-section,
#form {
  width: 100%;
  padding: 0px 120px;
  text-align: center;
}
.form-section {
  padding-top: 50px;
}

.first-Input,
.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
  padding: 0px;
  margin: 0px;
}
#email,
#name,
#date,
#selecting-field {
  /* width: 650px; */
  padding: 10px;
  width: 47%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--faint-black-texts);
}
#date,
#selecting-field {
  margin-top: 30px;
}
#message,
#subject {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--faint-black-texts);
  padding: 10px;
}
#subject {
  height: 60px;
  margin-top: 30px;
}
#message {
  margin-top: 30px;
}
#submit {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: var(--nav-menu-hover-color);
  border: 2px solid var(--white-headings-and-texts);
  padding: 17px 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--white-headings-and-texts);
}

#submit:hover {
  box-shadow: var(--white-headings-and-texts) 0px 10px 25px;
  border-color: transparent;
  transition: all 0.3s ease-out 0s;
}

/* ================================================= */
/* =================FOTTER================== */
/* ================================================= */

footer {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 120px;
  /* margin: 100px 0px auto; */
  text-align: center;
}
footer > .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px;
}
.footer-first,
.footer-fourth {
  width: 350px;
}
.footer-third,
.footer-second {
  width: 170px;
}
.footer-first,
.footer-third,
.footer-fourth,
.footer-second {
  position: relative;
  text-align: start;
  margin-top: 100px;
}
.footer-fourth > h4,
.footer-first > h4,
.footer-third > h4,
.footer-second > h4 {
  font-family: "Raleway", sans-serif;
  margin-top: 32px;
  font-size: 20px;
  font-weight: 700;
  color: var(--nav-menu-hover-color);
}
.footer-fourth h4 {
  margin-bottom: 45px;
}

.footer-first > p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  line-height: 30px;
  color: var(--white-headings-and-texts);
  width: 80%;
}
footer ul {
  width: 100%;
  list-style-type: none;
  margin-top: 55px;
  cursor: pointer;
}

footer ul li a {
  font-size: 20px;
  color: var(--white-headings-and-texts);
  line-height: 36px;
}
footer ul li:hover {
  transform: translate(20px);
  transition: 0.3s linear;
}
footer ul li a:hover {
  color: var(--nav-menu-hover-color);
  font-style: italic;
}
hr {
  margin-top: 20px;
}
.footer-fourth .map {
  position: relative;
  width: 100%;
  /* margin-bottom: -50px; */
}
.map iframe {
  width: 100%;
  height: 230px;
  /* height: ; */
  border-radius: 10px;
}
footer > p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: var(--white-headings-and-texts);
  margin-top: 10px;
}
footer > p > a {
  font-size: 14px;
  color: var(--faint-black-texts);
}
footer > p > a:hover {
  color: var(--nav-menu-hover-color);
}
footer {
  padding-bottom: 20px;
}
