body {
  text-align: center;
  margin-top: 50px;
}
.pbox {
  position: absolute;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background-color: rgba(0, 173, 181, 0.16);
  top: 18%;
  left: 18%;
  animation-name: firstLayer;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.pBox {
  position: relative;
  width: 77px;
  height: 77px;
  background-color: rgba(0, 173, 181, 0.13);
  border-radius: 50%;
  margin: 0 auto;
  animation-name: fisrtLayer;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes fisrtLayer {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(5);
  }
}
@keyframes secondtLayer {
}
